<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=192.168.8.100,1433;Database=myDVLD;User Id=sa;Password=Password@1234;Encrypt=true;TrustServerCertificate=true;" />
		<add key="BackupFolder" value="C:\DatabaseBackups" />
		<add key="LogFolder" value="C:\DatabaseBackups\Logs" />
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>
</configuration>